@page "/"

<PageTitle>Index</PageTitle>

<h1>Code playground</h1>

<p>I just created this site because I wanted to have a place where I can
host random programming projects & experiments.</p>

<br>

<p>Currently there's still a ton of boilerplate stuff from the default Blazor app
but I'll try to clean this up over the next couple of days.</p>
