@page "/matkvdev"

<PageTitle>matkv.dev</PageTitle>

<h1>matkv.dev</h1>

My personal website, built using the static site generator <a href="https://gohugo.io">hugo</a>.

<br>
<br>

The <a href="https://github.com/matkv/matkv.dev">project repository</a> for this site uses a GitHub
action to <b>automatically build and deploy</b> the site to GitHub pages. This basically lets me use & work on this site
without necessarily needing a local hugo install.

Apart from the script for the dark mode functionality, it has been completely written by myself!
<br><br>
The actual website can be reached at <a href="https://matkv.dev">matkv.dev</a> and its
GitHub repository is <a href="https://github.com/matkv/matkv.github.io">here</a>.
